<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--3-offset-desktop ">
        <h3>Welcome {{displayName}}</h3>
        <!-- The input field -->
            <form class='mdl-grid' ng-submit="ctrl.onSubmit()">
                <div class="mdl-cell mdl-cell--8-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="newWord" pattern="[A-Z,a-z]*" ng-model='ctrl.newWord'>
                    <label class="mdl-textfield__label" for="newWord">New Word</label>
                    <span class="mdl-textfield__error">Letters only</span>
                </div>
                <div class='mdl-cell mdl-cell--2-col mdl-cell--2-offset'>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </form>
        <!-- Complete word list -->
        <ul class='mdl-list'>
            <div ng-repeat='word in ctrl.words track by $index'>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        {{word.$value}}
                    </span>
                    <a class="mdl-list__item-secondary-action" ng-click='ctrl.onDelete(word)' style="cursor: pointer;"><i class="material-icons">delete</i></a>
                </li>
            </div>
        </ul>
    </div>
</div>